name: CI Workflow

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Host Databases, Run Tests, and Upload Coverage Reports

    steps:
    - uses: actions/checkout@v4

    # Set up Docker and Docker Compose
    - name: Install Docker
      run: |
        sudo apt-get update
        sudo apt-get install -y apt-transport-https ca-certificates curl software-properties-common
        curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
        sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
        sudo apt-get update
        sudo apt-get install -y docker-ce

    - name: Install Docker Compose
      run: |
        DOCKER_COMPOSE_VERSION=1.29.2  # Specify the desired version
        sudo curl -L "https://github.com/docker/compose/releases/download/$DOCKER_COMPOSE_VERSION/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
        sudo chmod +x /usr/local/bin/docker-compose

    - name: Verify Docker Installation
      run: |
        docker --version
        docker-compose --version

    # Start PostgreSQL container
    - name: Build and Start Docker Containers
      run: docker-compose -f ./docker-compose.yaml up -d

    # Wait for the PostgreSQL database to be ready
    - name: Wait for Database to be Ready
      run: |
        until docker exec postgres-db pg_isready -U postgres; do
          sleep 1
        done

    # Run database initialization commands
    - name: Initialize Database
      run: |
        docker exec -i postgres-db psql -U postgres <<EOF
        ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL PRIVILEGES ON TABLES TO postgres;
        ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL PRIVILEGES ON SEQUENCES TO postgres;
        ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL PRIVILEGES ON FUNCTIONS TO postgres;
        ALTER USER postgres WITH PASSWORD 'postgres';
        EOF

    #----------------------------------------------
    #       Install Python
    #----------------------------------------------
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    #----------------------------------------------
    #       install & configure uv
    #----------------------------------------------
    - name: Install uv
      uses: astral-sh/setup-uv@v3
      with:
        version: "0.5.1"

    - name: Set up Python
      run: uv python install

    - name: Install the project
      run: uv sync --all-extras --dev

    # Run tests and generate coverage report
    - name: Run Tests with Coverage
      run: |
        uv run pytest --cov=pgbase tests/
        mkdir -p coverage-reports
        mv .coverage coverage-reports/coverage.xml

    # Upload Coverage Report to Codecov
    - name: Upload Coverage Reports to Codecov
      run: |
        curl -Os https://uploader.codecov.io/latest/linux/codecov
        chmod +x codecov
        ./codecov -t ${{ secrets.CODECOV_TOKEN }} -f coverage-reports/coverage.xml
